In [1]:
import pandas as pd
from decimal import Decimal
from datetime import datetime
from thetadata_utils import curl

In [ ]:
from thetadata import ThetaClient
from credentials import USERNAME, PASSWORD
client = ThetaClient(username=USERNAME, passwd=PASSWORD, timeout=10)

In [11]:
config = {
    "underlying_ticker": 'spx',
    "options_ticker": 'spxw',
}

In [19]:
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)
eod = curl('hist/index/eod', {"root": config['underlying_ticker'], "start_date": start_date.strftime("%Y%m%d"), "end_date": end_date.strftime("%Y%m%d")})
eod

,ms_of_day,ms_of_day2,open,high,low,close,volume,count,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
0,62113459,57685000,4745.20,4754.33,4722.67,4742.83,0,0,0,0,0.0,0,0,0,0.0,0,20240102
1,62157290,57738000,4725.07,4729.29,4699.71,4704.81,0,0,0,0,0.0,0,0,0,0.0,0,20240103
2,62377157,57676000,4697.42,4726.78,4687.53,4688.68,0,0,0,0,0.0,0,0,0,0.0,0,20240104
3,62308071,57691000,4690.57,4721.49,4682.11,4697.24,0,0,0,0,0.0,0,0,0,0.0,0,20240105
4,62505117,57686000,4703.70,4764.54,4699.82,4763.54,0,0,0,0,0.0,0,0,0,0.0,0,20240108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,62346923,57788000,5459.58,5490.66,5447.59,5447.87,0,0,0,0,0.0,0,0,0,0.0,0,20240624
120,62562285,57707000,5460.73,5472.88,5446.56,5469.30,0,0,0,0,0.0,0,0,0,0.0,0,20240625
121,62397549,57822000,5460.71,5483.14,5451.87,5477.90,0,0,0,0,0.0,0,0,0,0.0,0,20240626
122,62180523,57740000,5473.59,5490.81,5467.54,5482.87,0,0,0,0,0.0,0,0,0,0.0,0,20240627
123,62227314,57862000,5488.48,5523.64,5451.12,5460.48,0,0,0,0,0.0,0,0,0,0.0,0,20240628

In [20]:
filename = f"/data/thetadata/{config['underlying_ticker']}/eod/2024.csv.gz"
eod.to_csv(filename, compression='gzip', index=False)
filename

'/data/thetadata/spx/eod/2024.csv.gz'

## Restore test

In [13]:
restore_test = pd.read_csv(filename, compression='gzip')
restore_test

,ms_of_day,ms_of_day2,open,high,low,close,volume,count,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
0,62113459,57685000,4745.20,4754.33,4722.67,4742.83,0,0,0,0,0.0,0,0,0,0.0,0,20240102
1,62157290,57738000,4725.07,4729.29,4699.71,4704.81,0,0,0,0,0.0,0,0,0,0.0,0,20240103
2,62377157,57676000,4697.42,4726.78,4687.53,4688.68,0,0,0,0,0.0,0,0,0,0.0,0,20240104
3,62308071,57691000,4690.57,4721.49,4682.11,4697.24,0,0,0,0,0.0,0,0,0,0.0,0,20240105
4,62505117,57686000,4703.70,4764.54,4699.82,4763.54,0,0,0,0,0.0,0,0,0,0.0,0,20240108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,62117294,57661000,5476.15,5490.38,5471.32,5487.03,0,0,0,0,0.0,0,0,0,0.0,0,20240618
117,62276324,57729000,5499.99,5505.53,5455.56,5473.17,0,0,0,0,0.0,0,0,0,0.0,0,20240620
118,62321689,57811000,5466.77,5478.31,5452.03,5464.62,0,0,0,0,0.0,0,0,0,0.0,0,20240621
119,62346923,57788000,5459.58,5490.66,5447.59,5447.87,0,0,0,0,0.0,0,0,0,0.0,0,20240624
120,62562285,57707000,5460.73,5472.88,5446.56,5469.30,0,0,0,0,0.0,0,0,0,0.0,0,20240625